body {
  font-family: 'Poiret One', cursive;
  height: 10100px;
}

header {
  width: 100%;
  height: 10vh;
  font-size: 30px;
  background-color: white;
  border-bottom: 1px solid #EEEEEE;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

main {
  width: 100%;
  height: 90vh;
  margin-top: 9vh;
  background-color: pink;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  background: #EEEEEE;
  position: fixed;
}

.shape {
  background: orange;
  position: fixed;
}

.hole {
  background: pink;
  position: absolute;
}

.startScreen {
  background: white;
  width: 40%;
  min-width: 320px;
  z-index: 1;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.startScreen p {
  font-family: 'Raleway', sans-serif;
  margin: 30px;
  font-size: 16px;
}

img {
  border: 2px solid black;
  // width: 400px;
  margin: 10px;
}

.endScreen {
  background: white;
  height: 50vh;
  width: 40%;
  z-index: 1;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

h1 {
  margin: 10px 0 0 0;
}

.reveal {
  margin: 20px;
  width: 20%;
  padding: 10px 22%;
  background-color: #EEEEEE;
  border: 0;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
}

.reveal:hover {
  background-color: lightBlue;
  color: white;
}

.revealed {
  width: 98%;
  height: 45vh;
  padding: 0;
  background: url('../images/instruction.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

button {
  margin: 0 20px 20px 20px;
  width: 64%;
  padding: 10px 22%;
  background-color: #EEEEEE;
  border: 0;
  font-size: 20px;
  font-family: 'Poiret One', cursive;
}

button:hover {
  background-color: lightBlue;
  color: white;
}

.hidden {
  display: none;
}

.mouseHider {
  cursor: none;
}

body.noScroll {
  overflow: hidden;
}
